@page
@model Valasztasok.Pages.JeloltListaModel

@{
    ViewData["Title"] = "JeloltLista";
}

<h1>JeloltLista</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jelolt[0].Nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jelolt[0].Kerulet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jelolt[0].SzavazatokSzama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jelolt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kerulet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SzavazatokSzama)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
